include *.in
include *.rst
include .coveragerc
include .isort.cfg
include bobtemplate.cfg
recursive-include news *.breaking
recursive-include news *.feature
recursive-include news *.gitkeep
recursive-include news *.internal
recursive-include news *.misc
recursive-include src *.po
recursive-include src *.pot
recursive-include src *.pt
recursive-include src *.py
recursive-include src *.sh
recursive-include src *.xml
recursive-include src *.zcml
